body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
div{
	width:auto;
}
a,a:link,a:visited,a:active {
	color: #4183c4;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a:hover{
	font-weight: bold;
	color: #ce310d;
}
span,p,div,a{
	color: #333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
em{
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	color: #900;
}
.myPagination{
	 
}
.myPagination a{
	padding:3px;
	font-size: 13px;
}
.myBtn{
	margin-top:5px;
	display:block;
	background-color:blue;
	color:#fff;
	width:50px;
	height:20px;
	text-align: center;
	line-height: 20px;
}
.myBtn:hover{
	color: #fff;
}

.test{
	border: 1px solid #ce310d;
} 
.close span{
	font-size: 24px;
	color: #ce310d;
	font-weight: bold;
}
.close span:hover{
	 
}
.modal-header{
	background-color: #eaf7fb;
	color: #666;
}
.info{
	font-weight:bold;
	background-color: #f8fffa;
	padding: 10px;
	padding-left:20px;
	color: #aaa;
	letter-spacing:1px;
	display: none;
}
.publicMessage{
	font-size: 20px;
	word-wrap: break-word; word-break: break-all;
}
.user-info-publicMessage{
	font-size: 14px;
	font-weight: bold;
	word-wrap: break-word; word-break: break-all;
}
.no-padding {
	padding: 0px;
}
.bold{
	font-weight: bold;
}
.selected{
	background-color: #eee;
}
#head-menu{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
#head-menu a span{
	font-size: 16px;font-weight: bold; color: #222;text-align: left;
}
#head-sub-menu{
	text-align: center;
}
#head-sub-menu a{
	text-align: center;
	text-decoration:none;
	line-height: 40px;
}
#head-sub-menu a span{
	font-size:20px;
	text-align: center;
	font-weight: bold;
	line-height: 40px;
}
#head-sub-menu-personal:hover{
	border-bottom: 3px solid #387bb6;	 
	
}
#head-sub-menu-public:hover{
	border-bottom: 3px solid #e85205;	 
}
.headImg-20{
	 width:20px ;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;
}
.headImg-30{
	 width:25px ;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;
}
.headImg-40{
	 width:40px ;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;
}
.headImg-50{
	width:50px ;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;
}
.headImg-60{
	width:60px ;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;
}
#user-operation-btn{
	font-size: 18px;color: #222;font-weight: bold;padding : 10px;text-align: center; 
}
#user-operation-btn:hover{
	 border-radius:5px;	
}
#user-operation-btn img{
	width: 25px;height: 25px;margin-right: 10px;
}

#user-operation-content{
	text-decoration: none;
	display: none;background-color: #fff;border: 1px solid #ccc;border-top:none;   	top:100%;float: left;z-index: 1000;position: absolute; 
}
#user-operation-content a{
	display:block;padding: 10px; 
	padding-left:20px;
	border-radius:5px;	
	text-decoration: none;color: #222;
	border: 1px solid #eee;
}
.menu-slide-tab  {
	padding:5px;
	padding-left: 10px;
	padding-right: 10px;
	min-width:60px;
	font-size: 15px;
	font-weight: 555;
	color: #072;
	display: block;
}
.menu-slide-tab span {
	
}

.sub-page{
	background-color: #fff;
	padding:10px;
	border-radius: 10px;
	border: 1px solid #ddd;
}
.sub-page-with-title{
	margin-top:10px;
	background-color: #fff;
	padding:0px;
	border-radius: 10px;
}
.sub-page-title{
	
}
.sub-page-title span{
	display:block;
	font-size: 14px;
	background-color:#fdfdfd;
}
.sub-page-title div{
	background-color:#fdfdfd;
}
.sub-page-title-btn{ 
	 background-color: #fdfdfd;
}
#copy-folder-btn{
	 color:#fff;
	 background-color: #52ab52 ;
}
#copy-folder-btn:hover{
	 background-color: green ;
}

.sub-page-body{
	display:block;
	padding: 10px; 
	background-color: #fefefe;-- #f8fffa;
}
.no-outline{
	outline: 0;
	box-shadow:none;
}
.no-outline:focus{
	outline: 0;
	box-shadow:none;
}
#go-top {
	display: none;
	width: 50px;
	height: 50px;
	top: 80%;
	right: 10%;
	position: fixed;
	background: url("../images/back-top.png") no-repeat scroll 0 0;
}
#go-top:hover {
	background-position: -50px 0;
}
.hoverAble:hover{
	background-color: #f5f5f5;
}
.hoverAble2:hover{
	background-color: #d1d1d1;
	text-decoration: none;
}
.hoverAble3:hover{
	background-color: orange;
}
.hoverAble-red:hover{
	color: #ce310d;
	font-weight: bold;
}
.hoverAble-discuss:hover{
	background-color: #fbfbfb;
}
.hoverAble-discuss2:hover{
	border-top: 1px solid #fff;;
	border-bottom: 1px solid #fff;
}
.hoverAble-head:hover{
	background-color: #007722;
	color: #fff;
}
#logo{ 
	 }
#logo a{text-decoration: none;}
#logo a span{
	color: #0e959d;font-size: 32px;font-weight:bold;
}
.folder-pages{
	padding: 5px; 
	margin-bottom: 20px; 
	border: 1px solid #eee;
	background-color: #fff;
}
.folder-pages-link {
	padding: 5px;
	border: 1px solid #fefefe;
	border-bottom: 1px solid #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	
}
.folder-pages-link span{
	font-weight: 575 ;
	color:#222; 
}
.folder-pages-link span:hover{
	font-weight: bold ;
	color: #ce310d;
}
.add-link-div{
	display: none;
	}
.add-link{
	border: 1px dashed #eee;  
	margin-top: 5px; 
	margin-bottom: 5px; 
	display: block;
	display: none; 
}
.add-link span{
	color: #ccc; 
	font-size:14px;
}
.folder-index-element{
	padding:5px; 
	text-decoration:none;
	text-align:center;
	font-size: 13px;   
	display: block;
	color:#1024ee;
	float:left;
	border-radius:2px; 
	width:100px;
	min-width: 50px;
	color:#333;
}
.folder-index-element:link,
.folder-index-element:visited,
.folder-index-element:active{
	color:#333;
}
.folder-index-element:hover{
	color: #ce310d;
	font-weight: bold;
}
.public-folder-element{
	padding:5px; 
	text-decoration:none; 
	font-size: 13px;  
	font-weight: 600;
	display: block;
}
.history-folder-element{
	padding:5px; 
	text-decoration:none; 
	  font-size: 13px;  font-weight: 600;display: block;
}  
#pages-part{
	
}
#pages-part-menu{
	border-bottom: 2px solid #eee;  padding: 0px;padding-top: 10px;padding-bottom: 10px;
}
#pages-part-menu-name span{
	font-size: 14px;color: #666;font-weight:bold;
}
.pages-part-page{
	 
}
.pages-part-page a{
	 padding-top: 6px;padding-bottom: 6px;
}
.pages-part-page a:hover{
	
}
.pages-part-page-name{
	color: #333; 
	font-size: 13px;
}
 
.pages-part-page-link{
	color:green;font-size: 11px;
}
.pages-part-page-link:hover{
	font-weight: bold;
}
.search-page-link{
	color:green;font-size: 11px;
}
.search-page-link:hover{
}

.pages-part-page-comment{
	display: none;
}

.img18{
	width: 18px;height:18px;float: left; 
}
.img40{
	width: 40px;height:40px;float: left; 
}
.addPage{
	padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
}
.addPage span{
	color:#999;font-size: 9px;text-align: right;
}

.pageUp{
	padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
	border-radius:3px;
}
.pageUp span{
	color:#666;font-size: 14px;text-align: right;
}
.page-comment-div:hover{
}
.pageComment{
	padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
	border-radius:3px; 
}
.pageComment span{
	color:#666;font-size: 14px;text-align: right;
}

.deletePage{
	padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
	border-radius:3px;
	display: none;
}
.deletePage:hover{
	background-color: #ffa2a2;
}
.deletePage span{
	color:#F33;font-size: 14px;text-align: right;
}

.editPage{
	padding-left: 10px;padding-right: 10px;padding-top: 6px;padding-bottom: 6px;
	border-radius:3px;
}
.editPage:hover{
	background-color: #8b8bff;
}
.editPage span{
	color:#666;font-size: 14px;text-align: right;
}
.page-edit-div:hover{
}
#hot-click-page{
	

}
#follow{
	 
}
.tabs{
	padding:10px;padding-left:0px;
	 background-color:#edf4ed; 
	 text-align: center;
	 text-decoration: none;
}
.tabs a{
	display: block;
	padding-left:10px;
	padding-right:10px;
	text-decoration: none;
	float: left;
}
.tabs-tab{
	min-width:60px;
	font-size: 15px;
	font-weight: 555;
	color: #072;
	padding: 5px;
}
.tabs-tab-selected{
	background-color: #007722;
	color: #fff;
}
.tabs-quick-link{
 
}
#foot-prompt{
	top:85%;
	height:15%;
	position:fixed;
	margin-top:10px;
	background-color:#1e2f31;
	padding: 20px;border-radius:10px;
}
#foot-prompt-username-div{
	background-color: #fff;padding: 8px;height: 45px;border-radius:5px;
}
#foot-prompt-username-div span{
	background-color:#eee;padding:0px;padding-right:5px; border: 0px;border-radius:2px;font-size: 18px;height:18px; ;font-weight: 300;color: #888;
}
#foot-prompt-close{
	float:right ;color: #fff;
}
.foot-prompt-element{
	padding-right: 10px; 
}
#foot-prompt-username-input{
	height: 29px;padding-left:5px; border:none;
}
#foot-prompt-password-input{
	height: 45px; border-radius:5px;border:2px solid #ddd;
}
#foot-prompt-ok{
	height: 45px; display: block;border-radius:5px;background-color: #f75288;
}
#foot-prompt-ok span{
	font-size: 20px;font-weight:bold ;color:#fff;

	}
.info-card{
	border:1px solid #eee;
	border-radius:5px;
	padding-top: 10px;
background-color:#fcfcfc;
	margin: 15px;
}
.info-card:hover{
	margin: 14px;
	border:2px solid #ccc;
}
.info-card .info-card-description{
	padding:10px 5px 10px 5px;
	--background-color:#f5f5f5;
	font-size: 12px;
	color: #666;
}
.info-card .user-name span{
	font-size: 15px;
	font-weight:700;
	font-family:SimSun;
	color: #666;
}
.info-card .link-name span{
	font-size: 13px;
	font-weight:700;
	font-family:SimSun;
	color: #666;
}
.info-card .share-info span{
	font-size: 13px;
	line-height:20px;
	font-weight:bold;
	color: #a2a2a2;
}
.info-card .info-card-pages{
	margin-top: 10px;
}
.info-card .info-card-pages a{
	padding: 3px;
}
.info-card .info-card-pages a span{
	font-size: 13px;
}

#pan-search-input{
	padding: 10px;
	--border: 1px solid #eee;
}

#pan-search-results{
	margin-top: 20px;
	min-height: 200px;
}

.group-info{
	float: left;
}
.group-info span{
	font-size: 28px;
	font-weight: bold;
	margin-right:10px;
	float: left;
}
.group-info-in {
	display:block;
	background-color: #6ebfc3;
	border-radius:3px;
	text-decoration: none;
	padding:0px;
	margin-top:5px;
	
	float: left;
}
.group-info-in:hover{
	text-decoration: none;
}
.group-info-in span{
	display:block;
	padding: 5px 15px 5px 15px;
	color:#fff;
	font-size: 12px;
}
.discuss-username , 
.discuss-username:link,
.discuss-username:visited,
.discuss-username:active{
	color: #a4a4a4;
	font-size: 12px;
}
.discuss-username:hover{
	color: green;
}
.discuss-reply-btn{
}

.discuss-reply-show-btn , 
.discuss-reply-show-btn:link,
.discuss-reply-show-btn:visited,
.discuss-reply-show-btn:active{
	color: #999;
}
.discuss-reply-show-btn:hover{
	color: #ce310d;
	font-weight: bold;	
}
.discuss-reply-show-date{
	font-size: 10px; 
	float: right;
	color: 	#c7c7c7;
	padding-left: 3px;
	padding-right: 3px;
}
.discuss-element-sub-container{
	 
}
#searchHistroy{
	margin-top: 40px;
}
.ad-img{
	width:260px;
	height:260px;
	border-radius:2px; 
	border: 1px solid #eee;
} 
/* 文章        */
.article-container{
	border-bottom: 1px solid #f2f2f2;
	
	padding-top: 10px;
	padding-bottom: 10px;
}
.article-tag{
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:0px;
	color: #3C8FE6;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}
.article-tag:HOVER{
	color: #1d75d4;
	text-decoration: underline;
	}
.article-img{
	
}

.article-author{
}
.article-author a{
	display: block;
	
}
.article-author-head{
	text-align: center;
}

.article-author-img{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.article-authorName{
	padding :10px;
	 
}
.article-authorName-span{
	padding-left :8px;
	color: #999;
}
.article-authorName-url:hover{
	
	text-decoration: underline;
	color: #333;
}
.article-title-a{
	font-size: 20px;
	font-family: 微软雅黑, 黑体;
	 
}
.article-title-a:hover{
	color:#ce310d; 
	text-decoration: underline;
}
.article-summry-container{
	padding-top:10px;
	padding-bottom:20px;	
	min-height: 80px;
}
.article-summry-a ,
.article-summry-a:link,
.article-summry-a:visited,
.article-summry-a:active{
	font-size: 14px;
	color: #666;
	font-weight: normal;
	font-family: 'Microsoft Yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', STXihei, 华文细黑, 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
} 
.article-time{
	 
}	
.article-time-span{
	font-size: 12px;
	color: #999;
}